*{
    color: rgb(0, 94, 255);
    font-family: 'Times New Roman', Times, serif;
}
body
{
    padding: 1rem;
}
header
{
    background-color: beige;
    display: block;
    border: solid;
    position: sticky;
    z-index: 1;
    top: 0;
}
ul{
    display: flex;
    padding: 1cm;
    justify-content: space-evenly;
    align-items: center;
    flex: content;
    
}
a{
    text-decoration: none;
}
a:hover{
    color: rgb(34, 0, 255);
}
.titles{
    text-decoration: solid;
    font-style: bold;
    color: rgb(17, 0, 255);
}